h1 {
  margin: 0;
  padding: 1em;
}

.mainimage {
  width: 75%;
  max-width: 500px;
  height: auto;
  border: 2px solid black;
}

.overlay-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor:pointer;
  margin: 6px;
  padding: 0px;
}

i {
  color: white;
  font-size: 25px;
}

.flexrowbreak {
  flex-basis: 100%;
  height: 0;
}

.additionalPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.previewimage {
  display: flex;
  flex: 1 1 50px;
	max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}
