h1 {
  margin: 0;
  padding: 1em;
}

img {
  width: 75%;
  max-width: 500px;
  height: auto;
  border: 2px solid black;
}

.overlay-content {
  display: flex;
  flex-direction: row;
}

button {
  display: inline-block;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor:pointer;
  margin: 6px;
  padding: 0px;
}

i {
  color: white;
  font-size: 25px;
}