<h1>Save New Records</h1>
<hr>
<section id="recordsSave">
    <form (ngSubmit)="onClickSave()">
        <div class="row">
            <div class="col-25">
                <label>Style:</label>
            </div>
            <div class="col-75">
                <select [ngModel]=model.myStyle (ngModelChange)="selectStyleChange($event)" name="style">
                    <option *ngFor="let oneOption of styleList" [ngValue]="oneOption">{{oneOption.label}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Artist:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.artiste type="text" placeholder="Artist" name="artist" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Title:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Titre type="text" placeholder="Title" name="title" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Format:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Format type="text" placeholder="Format" name="Format" list="formats"/>
                <datalist id="formats">
                    <option *ngFor="let oneFormatOption of formatList" [ngValue]="oneFormatOption">{{oneFormatOption}}</option>
                </datalist>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Label:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Label type="text" placeholder="Label" name="Label" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Country:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Country type="text" placeholder="Country" name="country" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Year:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Year id="inputYear" type="number" placeholder="Year" name="year" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Period:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Period type="text" placeholder="Period" name="period" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Reference:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Reference type="text" placeholder="Reference" name="reference" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Cover Filename:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.ImageFileName type="text" placeholder="Cover Filename" name="coverfilename" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Keywords:</label>
            </div>
            <div class="col-75">
                <input [(ngModel)]=model.Keywords type="text" placeholder="Keywords" name="keywords" />
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <button id="btnRecordsSave" type="submit">Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-100">
            <button style="margin-bottom: 5px;" (click)="onClickReset()">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <button style="margin-bottom: 5px;" (click)="onClickSetFromLastSearch()">Set from last Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <button style="margin-bottom: 5px;" (click)="onClickSetFromLastDisplayedRecord()">Set from current Record</button>
        </div>
    </div>
    <hr>
</section>