<div style="position: absolute;overflow:hidden;height: 90%;margin: 0;border: 2px solid white;"
[ngStyle]="{'width': bigSize ? '97%' : '79%'}">
    <ac-map>
        <ac-layer acFor="let recordMapObject of recordMapObjects$" [show]="show" [context]="this" debug="true">
            <ac-billboard-desc props="{
                image: recordMapObject.image,
                position: recordMapObject.position,
                scaleByDistance: recordMapObject.scaleByDistance
            }">
            </ac-billboard-desc>
            <ac-label-desc props="{
                position: recordMapObject.position,
                text: recordMapObject.label.text,
                pixelOffset: recordMapObject.label.pixelOffset,
                translucencyByDistance: recordMapObject.label.translucencyByDistance,
                font: recordMapObject.label.font
            }">
            </ac-label-desc>
        </ac-layer>
        <ac-layer acFor="let polyline of polylines$" [context]="this" [show]="show">
            <ac-polyline-desc props="{
                width : 4,
                positions: polyline.positions,
                material: polyline.material,
              }">
            </ac-polyline-desc>
        </ac-layer>
    </ac-map>
</div>