<header class="bandeau">
  <ul>
    <li style="max-width: 10%;">
      <app-user></app-user>
    </li>
    <li style="width: 90%;">
      <h1>Welcome to our {{ title }}...</h1>
    </li>
  </ul>
</header>
<main>
  <section id="leftpart">
    <app-recordsform (searchRecordsRequested)='onSearchRecordsRequested($event)'
      (saveRecordRequested)='onSaveRecordRequested($event)' (uploadCoverRequested)='onUploadCoverRequested($event)'>
    </app-recordsform>
  </section>
  <section id="rightpart">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </section>
</main>
