<header class="bandeau">
  <ul>
    <li><app-user></app-user></li>
    <li><h1 style="margin-left: 250px;margin-right: 250px;">Welcome to our {{ title }}...</h1></li>
  </ul>  
</header>
<div class="souslebandeau">
  <div id="leftpart">
    <app-recordsform (searchRecordsRequested)='onSearchRecordsRequested($event)'
      (saveRecordRequested)='onSaveRecordRequested($event)' (uploadCoverRequested)='onUploadCoverRequested($event)'></app-recordsform>
  </div>
  <div id="rightpart">
    <app-recordslist [records]="records" [style]="currentStyle" [config]="config" (saveRecordRequested)='onSaveRecordRequested($event)'
      (deleteRecordRequested)='onDeleteRecordRequested($event)' (updateRecordRequested)='onUpdateRecordRequested($event)'
      (pageChanged)='onPageChanged($event)' (sortRequested)='onSortRequested($event)'></app-recordslist>
  </div>
</div>
<!--div appCesium></div-->