#leftpart, #leftsearchform , #leftuploadform  {
    width: 20%;
    height: 100%;
    position: fixed;
    border-right: 2px solid rgb(46, 48, 45);
    margin-top: 52px;
    top:0;
    background-color: white; 
    transition: left 0.5s ease-in-out;
}


#rightpart {
    margin-top: 52px;
    float: right;
}


h1 {
    margin-top: 10px;
    text-align: center;
}

.headerbar {
    text-align: center;
    font-family: 'Calibri' !important;
    position: fixed;
    width:100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 5050;
    background-color: #212222;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}


.headerbartitle {
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    width: 90%;
}


.headerbarlastitem {
    margin-left: auto;
}

.headerbarbutton, .headerbarfirstbutton, .headerbarspace {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    color: white;
    background-color: transparent; /*#12415c;*/
    border-radius: 0;
    height: 50px;
    width: 34px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
    margin-right: 0px;
    pointer-events: auto;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .headerbarbutton, .headerbarfirstbutton {
    cursor: pointer;
  }
  .headerbarfirstbutton {
      margin-left: 25px;
  }

  .headerbarbutton:hover, .headerbarfirstbutton:hover {background-color: #3f51b5;}

  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: .3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  