<header class="headerbar">
  <div class="headerbarbutton" (click)="onClickSearchToggle()"><i class="fa fa-search" aria-hidden="true"></i></div>
  <div class="headerbarbutton" (click)="onClickToggle()"><i class="fa fa-save" aria-hidden="true"></i></div>
  <div class="headerbarbutton" (click)="onClickUploadToggle()"><i class="fa fa-upload" aria-hidden="true"></i></div>
  <div class="headerbartitle"><h1>{{ title }}</h1></div>
  <div class="headerbarspace"></div>
  <div class="headerbarspace"></div>
  <div class="headerbarbutton"><app-user></app-user></div>
</header>
<main>
  <section id="leftsaveform" [ngStyle]="{'left': activeForm ? '0' : '-9999px'}">
    <app-recordsform (saveRecordRequested)='onSaveRecordRequested($event)'></app-recordsform>
  </section>
  <section id="leftsearchform" [ngStyle]="{'left': activeSearchForm ? '0' : '-9999px'}">
    <app-searchform (searchRecordsRequested)='onSearchRecordsRequested($event)'></app-searchform>
  </section>
  <section id="leftuploadform" [ngStyle]="{'left': activeUploadForm ? '0' : '-9999px'}">
    <app-uploadform (uploadCoverRequested)='onUploadCoverRequested($event)'></app-uploadform>
  </section>
  <section id="rightpart" [ngStyle]="{'width': activeForm || activeSearchForm  || activeUploadForm ? '80%' : '100%'}">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </section>
</main>
