<section class="listtoolbar" style="margin-top: 20px!important;">
	<span class="toolbarbuttongroup">
		<button title="Set list view" class="toolbarbutton" mat-raised-button (click)="setDisplayCoverList(false)">
			<mat-icon svgIcon="view_list"></mat-icon>
		</button>
		<button title="Set cover view" class="toolbarbutton" mat-raised-button (click)="setDisplayCoverList(true)">
			<mat-icon svgIcon="view_module"></mat-icon>
		</button>
	</span>
	<span class="toolbarbuttongroup">
		<button title="Update record" class="toolbarbutton" mat-raised-button
			(click)="openRecordEditionDialog($event, -1)">
			<mat-icon svgIcon="edit"></mat-icon>
		</button>
		<button title="Edit comments" class="toolbarbutton" mat-raised-button (click)="openCommentsDialog($event, -1)">
			<mat-icon svgIcon="comments"></mat-icon>
		</button>
		<button title="Udpate keywords" class="toolbarbutton" mat-raised-button (click)="addKeywordsDialog($event)">
			<mat-icon svgIcon="keywords"></mat-icon>
		</button>
		<button title="Show recording locations" class="toolbarbutton" mat-raised-button
			(click)="displayRecordingLocations($event)">
			<mat-icon svgIcon="location"></mat-icon>
		</button>
		<button title="Delete" class="toolbarbutton" mat-raised-button (click)="onClickDelete($event, -1)">
			<mat-icon svgIcon="delete"></mat-icon>
		</button>
	</span>
	<span *ngIf="records!== null && records.length > 0;" class="paginationcontrolclass">
		<pagination-controls class="my-pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
	</span>
</section>
<section *ngIf="!isDisplayCoverList; else coverListBlock" id="recordsList">
	<table>
		<colgroup>
			<col span="1" style="width:3%">
			<col span="1" style="width:15%">
			<col span="1" style="width:15%">
			<col span="1" style="width:3%">
			<col span="1" style="width:4%">
			<col span="1" style="width:3%">
			<col span="1" style="width:2%">
			<col span="1" style="width:2%">
			<col span="1" style="width:3%">
			<col span="1" style="width:47%">
			<col span="1" style="width:3%">
		</colgroup>
		<thead>
			<tr>
				<th>#</th>
				<th>Artist or Group</th>
				<th>Title</th>
				<th>Format</th>
				<th>Label</th>
				<th>Country</th>
				<th>Reference</th>
				<th>Year</th>
				<th>Period</th>
				<th>Comments</th>
				<th>Cover</th>
			</tr>
			<tr>
				<th class="sorttableheader"><input type="checkbox" [checked]="isSelectAll"
						(change)="onChangeSelectAllCheckbox()"></th>
				<th class="sorttableheader" (click)="onClickSort('artist')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='artist' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='artist' && !reverse"></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('title')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='title' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='title' && !reverse"></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('format')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='format' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='format' && !reverse"></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('label')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='label' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='label' && !reverse"></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('country')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='country' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='country' && !reverse"></i>
				</th>
				<th class="sorttableheader"></th>
				<th class="sorttableheader" (click)="onClickSort('year')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='year' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='year' && !reverse"></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('period')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='period' && reverse"></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='period' && !reverse"></i>
				</th>
				<th class="sorttableheader"></th>
				<th class="sorttableheader"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let record of records | paginate: { itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: config.totalItems } ; index as i"
				(contextmenu)="openContextualMenu($event, i, record)"
				[style.background-color]="isRecordSelected(i) ? '#EEE' : 'white'">
				<td><a routerLink="/record/{{record._id}}">{{(config.currentPage - 1) * config.itemsPerPage +  i+1}}</a>
					<div *ngIf="isRecordSelected(i) ; else uncheckedBlock"><input type="checkbox"
							(change)="onCheckChanged($event, i )" checked></div>
					<ng-template #uncheckedBlock><input type="checkbox" (change)="onCheckChanged($event, i )">
					</ng-template>
				</td>
				<td>{{record.Artist}}</td>
				<td>{{record.Title}}</td>
				<td>{{record.Format}}</td>
				<td>{{record.Label}}</td>
				<td>{{record.Country}}</td>
				<td>{{record.Reference}}</td>
				<td>{{record.Year > 0 ? record.Year : ''}}</td>
				<td>{{record.Period}}</td>
				<td style="text-align:justify!important">{{getKeywordsCellContents(record)}}<p>
						{{getCommentsCellContents(record)}}</p>
				</td>
				<div *ngIf="record.ImageFileName ; else elseBlock" routerLink="/record/{{record._id}}"
					style="cursor: pointer;">
					<td style="display:table-cell;vertical-align:middle">
						<div>
							<img src="{{backendServerURL}}/uploads/{{record.ImageFileName}}" alt="{{record.Title}} cover" 
								style="border: 2px solid black;" height=100 width=100>
						</div>
					</td>
				</div>
				<ng-template #elseBlock>
					<td style="text-align: center; font-style: italic!important;">
						Cover unavailable...
					</td>
				</ng-template>
			</tr>
		</tbody>
	</table>
</section>
<ng-template #coverListBlock>
	<section class="coverlist"
		*ngFor="let record of records | paginate: { itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: config.totalItems } ; index as i"
		[class.coverlistitem]="!isRecordSelected(i)" [class.selectedcoverlistitem]="isRecordSelected(i)"
		(contextmenu)="openContextualMenu($event, i, record)">
		<input *ngIf="isRecordSelected(i) ; else uncheckedBlock" class="covercheckbox" type="checkbox"
				(change)="onCheckChanged($event, i )" checked>
		<ng-template #uncheckedBlock><input class="covercheckbox" type="checkbox" (change)="onCheckChanged($event, i )">
		</ng-template>
		<figure *ngIf="record.ImageFileName ; else noCoverBlock" routerLink="/record/{{record._id}}"
			style="cursor: pointer;">
			<img src="{{backendServerURL}}/uploads/{{record.ImageFileName}}" alt="{{record.Title}} cover" class="coverimage">
			<h5 class="covertext">{{record.Artist}} - {{record.Title}}
				({{record.Format}}/{{record.Year !== 0 ? record.Year : 'NA'}})
			</h5>
		</figure>
		<ng-template #noCoverBlock>
			<span class="coverimage">Cover unavailable...</span>
			<h5 class="covertext">{{record.Artist}} - {{record.Title}}
				({{record.Format}}/{{record.Year !== 0 ? record.Year : 'NA'}})
			</h5>
		</ng-template>
	</section>
</ng-template>
<section *ngIf="records !== null && records.length > 20" class="listtoolbar">
	<span class="toolbarbuttongroup">
		<button title="Set list view" class="toolbarbutton" mat-raised-button (click)="setDisplayCoverList(false)">
			<mat-icon svgIcon="view_list"></mat-icon>
		</button>
		<button title="Set cover view" class="toolbarbutton" mat-raised-button (click)="setDisplayCoverList(true)">
			<mat-icon svgIcon="view_module"></mat-icon>
		</button>
	</span>
	<span class="toolbarbuttongroup">
		<button title="Update record" class="toolbarbutton" mat-raised-button
			(click)="openRecordEditionDialog($event, -1)">
			<mat-icon svgIcon="edit"></mat-icon>
		</button>
		<button title="Edit comments" class="toolbarbutton" mat-raised-button (click)="openCommentsDialog($event, -1)">
			<mat-icon svgIcon="comments"></mat-icon>
		</button>
		<button title="Udpate keywords" class="toolbarbutton" mat-raised-button (click)="addKeywordsDialog($event)">
			<mat-icon svgIcon="keywords"></mat-icon>
		</button>
		<button title="Show recording locations" class="toolbarbutton" mat-raised-button
			(click)="displayRecordingLocations($event)">
			<mat-icon svgIcon="location"></mat-icon>
		</button>
		<button title="Delete" class="toolbarbutton" mat-raised-button (click)="onClickDelete($event, -1)">
			<mat-icon svgIcon="delete"></mat-icon>
		</button>
	</span>
	<span *ngIf="records!== null && records.length > 0;" class="paginationcontrolclass">
		<pagination-controls class="my-pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
	</span>
</section>
<ng-template #recordMenu let-wrapper>
	<section class="record-menu">
		<div (click)="openRecordEditionDialog($event, wrapper.index)">Edit {{wrapper.item.Artist}} -
			{{wrapper.item.Title}}</div>
		<div (click)="openStringListDialog($event, 0, wrapper.index)">Edit keywords</div>
		<div (click)="openCommentsDialog($event, wrapper.index)">Edit comments</div>
		<div (click)="openStringListDialog($event, 1, wrapper.index)">Manage additional pictures</div>
		<hr>
		<div (click)="onClickDelete($event, wrapper.index)">Delete {{wrapper.item.Artist}} - {{wrapper.item.Title}}
		</div>
	</section>
</ng-template>