<section>
<div id="recordsList">
	<table>
		<colgroup>
			<col span="1" style="width:3%">
			<col span="1" style="width:15%">
			<col span="1" style="width:15%">
			<col span="1" style="width:3%">
			<col span="1" style="width:4%">
			<col span="1" style="width:3%">
			<col span="1" style="width:2%">
			<col span="1" style="width:2%">
			<col span="1" style="width:3%">
			<col span="1" style="width:45%">
			<col span="1" style="width:3%">
			<col span="1" style="width:2%">
		</colgroup>
		<thead>
			<tr>
				<th>#</th>
				<th>Artist or Group</th>
				<th>Title</th>
				<th>Format</th>
				<th>Label</th>
				<th>Country</th>
				<th>Reference</th>
				<th>Year</th>
				<th>Period</th>
				<th>Comments</th>
				<th>Cover</th>
				<th>Actions</th>
			</tr>
			<tr>
				<th class="sorttableheader"></th>
				<th class="sorttableheader" (click)="onClickSort('artist')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='artist' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='artist' && !reverse" ></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('title')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='title' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='title' && !reverse" ></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('format')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='format' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='format' && !reverse" ></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('label')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='label' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='label' && !reverse" ></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('country')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='country' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='country' && !reverse" ></i>
				</th>
				<th class="sorttableheader"></th>
				<th class="sorttableheader" (click)="onClickSort('year')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='year' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='year' && !reverse" ></i>
				</th>
				<th class="sorttableheader" (click)="onClickSort('period')">
					<i class="fa fa-chevron-down fa-xs" *ngIf="key =='period' && reverse" ></i>
					<i class="fa fa-chevron-up fa-xs" *ngIf="key =='period' && !reverse" ></i>
				</th>
				<th class="sorttableheader"></th>
				<th class="sorttableheader"></th>
				<th class="sorttableheader"></th>
			</tr>			
		</thead>
		<tbody>
			<tr
				*ngFor="let record of records | paginate: { itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: config.totalItems } ; index as i"
				(contextmenu)="openContextualMenu($event, i, record)">
				<td>{{(config.currentPage - 1) * config.itemsPerPage +  i+1}}</td>
				<td>{{record.Artist}}</td>
				<td>{{record.Title}}</td>
				<td>{{record.Format}}</td>
				<td>{{record.Label}}</td>
				<td>{{record.Country}}</td>
				<td>{{record.Reference}}</td>
				<td>{{record.Year}}</td>
				<td>{{record.Period}}</td>
				<td style="text-align:justify!important">{{record.Comments}}</td>
				<div *ngIf="record.ImageFileName ; else elseBlock">
					<td style="display:table-cell;vertical-align:middle">
						<div>
							<img src="{{backendServerURL}}/uploads/{{record.ImageFileName}}" alt="" border=3 height=100
								width=100>
						</div>
					</td>
				</div>
				<ng-template #elseBlock>
					<td style="text-align: center; font-style: italic!important;">
						Cover unavailable...
					</td>
				</ng-template>
				<td>
					<div>
						<button mat-raised-button (click)="openDialog($event, i)">
							<mat-icon svgIcon="edit"></mat-icon>
						</button>
						<p></p>
						<button mat-raised-button (click)="onClickDelete($event, i)">
							<mat-icon svgIcon="delete"></mat-icon>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="paginationcontrolclass">
		<pagination-controls class="my-pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
	</div>
</div>
</section>
<ng-template #recordMenu let-wrapper>
	<section class="record-menu">
	  <div (click)="openDialog($event, wrapper.index)">Update {{wrapper.item.Artist}} - {{wrapper.item.Title}}</div>
	  <div (click)="openKeywordsDialog($event, wrapper.index)">Update keywords</div>
	  <hr>
	  <div (click)="onClickDelete($event, wrapper.index)">Delete {{wrapper.item.Artist}} - {{wrapper.item.Title}}</div>
	</section>
</ng-template>