<div class="recorddetails">
	<div *ngIf="(record !== undefined) && (record !== null) ; else noRecordToDisplayBlock">
		<div class="recordcover">
			<div *ngIf="record.ImageFileName ; else elseBlock">
				<img src="{{backendServerURL}}/uploads/{{record.ImageFileName}}" alt="" height=200 width=200 (click)="displayCover()">
			</div>
			<ng-template #elseBlock>
				<div style="text-align: center; font-style: italic!important;">
					Cover unavailable...
				</div>
			</ng-template>
		</div>
		<div class="recorddescription">
			<p style="margin-top: 2px; margin-bottom: 2px;">Artist: <span style="font-weight: bold;">{{ record.Artist }}</span></p>
			<p style="margin-top: 2px; margin-bottom: 2px;">Record: <span style="font-weight: bold;">{{ record.Title }}</span></p>
			<p style="margin-top: 2px; margin-bottom: 2px;">Format: {{ record.Format }} - Label: {{ record.Label }}</p>
			<p style="margin-top: 2px; margin-bottom: 2px;">Country: {{ record.Country }} - Reference: {{ record.Reference }}</p>
			<p style="margin-top: 2px; margin-bottom: 2px;">Year: {{ record.Year }} - Period: {{ record.Period }}</p>
			<p style="margin-top: 2px; margin-bottom: 2px;">{{ recordUtils.getKeywordsContents(record) }}</p>
			<p style="margin-top: 2px; margin-bottom: 2px;">Description: </p>
			<div *ngIf="tracklist !== null &&  companies !== null; else commentsBlock">
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ tracklist }}</p>
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ companies }}</p>
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ credits !== null ? credits : ''}}</p>
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ notes !== null ? notes : ''}}</p>
			</div>
			<ng-template #commentsBlock>
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ record.Comments }}</p>
			</ng-template>
		</div>
	</div>
	<ng-template #noRecordToDisplayBlock>
		<h1>No record to display</h1>
	</ng-template>
	<a style="margin: 2px" routerLink="/list">Go back to Records List</a>
</div>