<section class="recorddetails">
	<div *ngIf="(record !== undefined) && (record !== null) ; else noRecordToDisplayBlock">
		<section class="recordcover">
			<figure *ngIf="record.ImageFileName ; else elseBlock">
				<img src="{{backendServerURL}}/uploads/{{record.ImageFileName}}" alt="{{record.Title}} cover" (click)="displayCover()">
			</figure>
			<ng-template #elseBlock>
				<div style="text-align: center; font-style: italic!important;">
					Cover unavailable...
				</div>
			</ng-template>
		</section>
		<section class="recorddescription">
			<p class="recorddescriptioninfo">Artist: <span style="font-weight: bold;">{{ record.Artist }}</span></p>
			<p class="recorddescriptioninfo">Record: <span style="font-weight: bold;">{{ record.Title }}</span></p>
			<p class="recorddescriptioninfo">Format: {{ record.Format }} - Label: {{ record.Label }}</p>
			<p class="recorddescriptioninfo">Country: {{ record.Country }} - Reference: {{ record.Reference }}</p>
			<p class="recorddescriptioninfo">Year: {{ record.Year }} - Period: {{ record.Period }}</p>
			<p class="recorddescriptioninfo">{{ recordUtils.getKeywordsContents(record) }}</p>
			<p class="recorddescriptioninfo">Description: </p>
			<section *ngIf="tracklist !== '' &&  companies !== ''; else commentsBlock">
				<p class="recorddescriptiontext">Tracklist: 
					<span style="font-weight: normal;">{{ tracklist !== null && tracklist.length > 0 ? tracklist : 'N/A'}}</span>
				</p>
				<p class="recorddescriptiontext">Companies, etc.: 
					<span style="font-weight: normal;">{{ companies !== null && companies.length > 0 ? companies : 'N/A'}}</span>
				</p>
				<p class="recorddescriptiontext">Credits: 
					<span style="font-weight: normal;">{{ credits !== null && credits.length > 0 ? credits : 'N/A'}}</span>
				</p>
				<p class="recorddescriptiontext">Notes: 
					<span style="font-weight: normal;">{{ notes !== null  && notes.length > 0 ? notes : 'N/A'}}</span>
				</p>
			</section>
			<ng-template #commentsBlock>
				<p style="margin-top: 2px; margin-bottom: 2px;" style="font-style: italic;">{{ record.Comments }}</p>
			</ng-template>
			<p *ngIf="recordUtils.hasLocation(record);"><a routerLink= "/map/{{record._id}}">Locate recording studio(s)</a></p>
			<div *ngIf="record.audioSamples;">
				<table>
					<tbody>
						<tr *ngFor="let sample of record.audioSamples;">
							<div *ngIf="sample.endsWith('.mp3')">
								<td>{{sample}}</td>
								<td>
									<audio controls>
									<source src="{{backendServerURL}}/uploads/{{sample}}" type="audio/mpeg">
									Your browser does not support the audio tag.
									</audio>
								</td>
							</div>
						</tr>
					</tbody>
				</table>
				<span *ngFor="let sample of record.audioSamples;">
					<span *ngIf="sample.startsWith('https://www.youtube.com')">
						<span class="youtubeitem">
							<iframe width="300" height="225" [src]="sanitizeYoutubeURL(sample)">
							</iframe>
						</span>
					</span>
				</span>
			</div>
		</section>
		<section class="listtoolbar">
			<span class="toolbarbuttongroup">
				<button title="Update record" class="toolbarbutton" mat-raised-button
					(click)="openRecordEditionDialog($event)">
					<mat-icon svgIcon="edit"></mat-icon>
				</button>
				<button title="Edit comments" class="toolbarbutton" mat-raised-button (click)="openCommentsDialog($event)">
					<mat-icon svgIcon="comments"></mat-icon>
				</button>
				<button title="Edit keywords" class="toolbarbutton" mat-raised-button (click)="openStringListDialog($event, 0)">
					<mat-icon svgIcon="keywords"></mat-icon>
				</button>
				<button title="Edit additional pictures" class="toolbarbutton" mat-raised-button (click)="openStringListDialog($event, 1)">
					<mat-icon svgIcon="pictures"></mat-icon>
				</button>
				<button title="Edit audio samples" class="toolbarbutton" mat-raised-button (click)="openStringListDialog($event, 2)">
					<mat-icon svgIcon="audiosamples"></mat-icon>
				</button>
			</span>
		</section>
	</div>
	<ng-template #noRecordToDisplayBlock>
		<h1>No record to display</h1>
	</ng-template>
	<a style="margin: 2px" routerLink="/list">Go back to Records List</a>
</section>